<!-- or else thing get hidden by banner -->
<br>
<br>
<br>
<br>
<br>


<!-- <app-search class="search" >            </app-search> -->

<!-- TESTING -->
<!-- <button (click)="getStations()">Test update stations list</button> -->
<!-- TESTING -->

<div class="search-container">
    <h2>ZIPCODE:  </h2>
<input [(ngModel)]="searchText" style="width: 300px; height: 30px;" >
<button (click)="search(searchText)" style=" margin-left: 30px ;height: 40px; width: 120px;" >Search</button>
</div>

<app-highlighted-view class = "highlightedlistview" 
    [hInputArray]= "highlightedArray"
    (outputEventDetailsDash)="detailsDash($event)"
    > 
</app-highlighted-view>

<app-list-view  class="listview" 
    [inputArray]="listArray"
    (outputEventDetailsDash)="detailsDash($event)"
    >                 
</app-list-view>


