h2{
  color: white;
  margin-right: 20px;
}

h4{
  margin-top: 5px;
}

button {
  height: 30px;
  width: 120px;
  background-color: #1976d2;
  color: white;
  margin-left: 20px;
}

.button-highlight{
  height: 30px;
  width: 120px;
  background-color: rgb(139, 3, 3);
  color: white;
  margin-left: 20px;
}

label{
  font-size: 25px;
  padding: 10px;
}

a:hover {
  color: #125699;
}


a{
  color: white;
}


.credit{
  text-align-last: center;
  margin-left: auto;
  padding: 0 16px;
}

.credit-1{
  text-align-last: center;
  margin-left: auto;
  margin-top:950px ;
  padding: 0 16px;
}

.form-group{
  margin-top: 20px;
  margin-bottom: 20px;
}

.title {
  top: 0;
  left: 0;
  right: 0;
  height: 30px;
}

.spacer {
  flex: 1;
}

.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}



.content {
  display: flex;
  margin: auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: row;
  align-items: center;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 200px;
  width: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-1 {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: auto;
  width: 400 px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 40px;
}



.listview{
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: auto;
  margin: auto;
  padding: 16px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.highlightedlistview{
  background-color: #1976d2c7;
  height: 300px;
  width: auto;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.search{
  background-color: rgba(42, 33, 170, 0.514);
}

.search-container{
  height: 50px;
  background-color:#1976d2c7;
  width: auto;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}