<div class="container">
<div class="card-1"> 
        <h1>{{detailedStation.name}}</h1>
        <div class="form-group">
            <label>Address:        {{detailedStation.address}}</label> 
            <br>
            <label>Operational:    {{detailedStation.operational}}</label> 
            <br>
            <label>Free:           {{detailedStation.price}}</label> 
            <br>
            <label>Cleanliness:    {{detailedStation.cleanliness}}</label> 
            <br>
            <label>Safeness:       {{detailedStation.safeness}}</label> 
        </div>

       
        <button class="button" ejs-button cssClass='e-link'>
            <a href="{{link}}" 
            target='_blank'> Google Maps
            </a>
        </button>

        <br>

        <button class="button-highlight"
            (click)="Delete()"
        >
            Delete
        </button>

    </div>
</div>